html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-size: 16px;
    font-family: 'Heebo',sans-serif;
} 

.hamburger-wrap{
  display: none;  
}

.home-header{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 30px 0;
}
.home-ul{
    margin: 0 50px;
    display: flex;
}
.active{
    color: crimson !important;
}
.home-ul >a{
    display: inline;
    padding: 0 15px;
    font-size: 1.23rem;
    font-weight: 500;
    font-style: normal;
    color: black;
    text-decoration: none;
    list-style: none;
}

.sect-one{
    display: flex;
    background-color: rgb(182, 207, 39);
    justify-content:space-between;
    padding: 70px 190px;
}
.sect-one > div:nth-child(1){
    width: 50%;
    padding: 70PX 0;
}
.sect-one .div:nth-child(2){
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-one div >button{
    background-color: chartreuse;
    background: yellow;
    border-style: none;
    font-family: "Heebo";
}
.prof-img{
width: 200px;
height: 200px;
object-fit: cover;
border-radius: 50%;
}



